@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap");

html,
body {
  scroll-behavior: smooth;
  background-color: #1a1a1a;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

.nav {
  display: flex;
  background-color: #1a1a1a;
  margin: 0rem;
  height: 5rem;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  text-align: center;
}

nav {
  unicode-bidi: isolate;
}

.nav-item,
.footer-item {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
  font-size: 0.9rem;
}

.nav-item:hover,
.footer-item:hover {
  color: var(--primary-color);
}

.hero {
  background: url(hero.jpg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  height: calc(100vh - 5rem);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.title {
  font-size: 3rem;
  font-family: "Lobster", sans-serif;
  line-height: 3rem;
  margin: 0 0 1rem 0;
  background-color: var(--background-color);
}

h1 {
  display: block;
  font-weight: bold;
}

/* h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
} */

.subtitle {
  font-size: 1rem;
  font-family: "Inter", serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

body * {
  z-index: 1;
  color: #fff;
  font-family: "Inter", sans-serif;
  --primary-color: #ff6600;
  --text-color: #ddd;
}

.hero .button {
  width: fit-content;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  /* font-size: 16px; */
  transition: all 0.2s ease-in-out;
  text-decoration: none;
  margin-top: 2rem;
}

.button,
.button-inverted {
  width: fit-content;
  padding: 1rem 2rem;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.button:hover {
  background-color: var(--background-color);
  color: var(--primary-color);
}

.button-inverted {
  background-color: transparent;

  color: var(--primary-color);
}

.button-inverted:hover {
  background-color: var(--primary-color);
  color: #fff;
}

.about {
  display: grid;
  gap: 2rem;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 85%;
  margin-inline: auto;
  padding: 24px;
}

.subtitle2 {
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-underline-offset: 0.3rem;
  margin: 2rem 0 1rem 0;
  width: fit-content;
  font-family: "Inter", serif;
}

.about-text {
  font-size: 0.9rem;
  color: var(--text-color);
}

.about-images {
  width: 100%;
  display: flex;
  gap: 0.5rem;
}

.about-image-large {
  min-width: 50%;
  object-fit: cover;
}

.about-image-large,
.about-image {
  max-width: 100%;
}

.about-images-small {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.about-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-action {
  margin-top: 2rem;
}

.open-times {
  display: block;
}

.info-wrapper {
  background: url(info.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* margin-block: 2rem 0;
  padding-block: 1.5rem 0; */
  min-height: 280px;
  width: 100%;
  position: relative;
  z-index: 1;
  margin: 2rem 0;
  padding: 2rem 0;
}

.info-wrapper::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 0;
}

.info-wrapper > * {
  position: relative;
  z-index: 1;
}

.open-times .subtitle2 {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.hours {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
}

.hours-entry {
  display: flex;
  justify-content: space-between;
  width: 19rem;
  margin-bottom: 0.25rem;
}

.days {
  font-family: "Inter", serif;
  color: var(--text-color);
}

.contact-image {
  width: 100%;
}

.contact-detail {
  color: var(--text-color);
  font-size: 1.2rem;
  margin-top: 0.5rem;
}

.contact-details {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  color: var(--text-color);
}

.contact {
  display: flex;
  flex-direction: column;
}

.contact-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.contact-action {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 2rem;
}

.contact-subtitle2 {
  margin-top: 0;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: #303030;
  margin-top: 2rem;
  padding: 2rem 1rem;
}

.footer-links {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 0.75rem;
}

.footer-copyright {
  font-size: 0.7rem;
  margin-top: 1rem;
  color: var(--text-color);
}

footer {
  unicode-bidi: isolate;
}

@media only screen and (min-width: 600px) {
  .nav,
  .footer-links {
    gap: 2rem;
    font-size: 1rem;
  }
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .button,
  .button-inverted {
    padding: 1.2rem 2.5rem;
  }

  .about-text {
    font-size: 1rem;
  }

  .contact-content {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .contact-image {
    width: 50%;
  }

  .footer-links {
    flex-direction: row;
  }

  .footer {
    margin-top: 4rem;
    padding: 3rem 0;
    gap: 3rem;
  }
}

@media only screen and (min-width: 1000px) {
  .nav,
  .footer-links {
    gap: 4rem;
  }

  .footer {
    margin-top: 6rem;
  }
  .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }
  .about {
    grid-template-columns: 1fr 1fr;
    margin-top: 6rem;
    align-items: center;
  }

  .about-images,
  .about-images-small {
    gap: 1rem;
  }

  .subtitle2 {
    font-size: 2rem;
  }

  .info-wrapper {
    margin-top: 8rem 0;
    padding: 6rem 0;
  }

  .hours {
    margin-top: 2rem;
  }

  .hours-entry {
    width: 20rem;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .contact .subtitle2 {
    margin-bottom: 1.5rem;
  }

  .contact-detail {
    margin-top: 1rem;
    font-size: 1.2rem;
  }

  .contact-image {
    width: 50%;
  }

  .contact-action {
    flex-direction: row;
  }

  .contact-content {
    gap: 1rem;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    max-width: 1200px;
  }
}
