@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lobster&display=swap");

.platzhalter {
  height: 300vh;
}

a {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 0.9rem;
}

.nav {
  display: flex;
  background-color: #1a1a1a;
  margin: 0rem;
  padding: 1.5rem;
  flex-direction: center;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

nav {
  unicode-bidi: isolate;
}

.nav-item {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
  padding-right: 3rem;
  padding-left: 3rem;
}

.nav-item:hover {
  background-color: transparent;
  color: #ff6600;
}

.hero {
  background-image: url(hero.jpg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.title {
  font-size: 3rem;
  font-family: "Lobster", sans-serif;
  line-height: 3rem;
  margin: 0 0 1rem 0;
}

h1 {
  display: block;
  font-weight: bold;
}

.subtitle {
  font-size: 1rem;
  font-family: "Inter", serif;
}

body * {
  position: relative;
  z-index: 1;
  color: #fff;
  font-family: "Inter", sans-serif;
}

.button,
.button-inverted {
  display: inline-block;
  width: fit-content;
  padding: 1rem 2rem;
  background-color: #ff6600;
  border: 1px solid #ff6600;
  color: #fff;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  margin-top: 4rem;
  text-decoration: none;
}

.button:hover {
  background-color: transparent;
  color: #ff6600;
}

.button-inverted:hover {
  background-color: var(--primary-color);
  color: #fff;
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: 4rem;
    line-height: 4rem;
  }

  .subtitle {
    font-size: 1.5rem;
  }

  .button {
    padding: 1.2rem 2.5rem;
  }
}

@media only screen and (min-width: 1000px) {
  .title {
    font-size: 6rem;
    line-height: 6.5rem;
  }
}
