.hero {
  background-image: url(hero.jpg);
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background-repeat: no repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: white;
}

* {
  margin: 0;
  padding: 0;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.title {
  font-size: 40px;
  font-family: fantasy serif;
  font-style: italic;
  margin: 0 0 1rem 0;
}

h1 {
  display: block;
  font-weight: bold;
}

.subtitle {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
}

body * {
  position: relative;
  z-index: 1;
}

.button,
.button-inverted {
  display: inline-block;
  width: fit-content;
  padding: 15px 30px;
  background-color: #ff6600;
  border: 1px solid #ff6600;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  transition: all 0.2s ease-in-out;
  margin-top: 4rem;
  text-decoration: none;
}

.button:hover {
  background-color: transparent;
  color: #ff6600;
}

.button-inverted:hover {
  background-color: var(--primary-color);
  color: #fff;
}
